@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.menu {
    ul {
        @include flexbox(flex, center, center);
        gap: 1rem;
        text-transform: uppercase;
    }
    a {
        color: var(--primary-color);
        margin: 0;
    }
}
