@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

main {
    color: var(--text-color);
    max-width: 1280px;
    width: 90%;
    margin: auto;
    h2 {
        font-family: $primary-font;
    }
}

.robots-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
