@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

header {
    @include flexbox(flex, space-between, center);
    flex-wrap: wrap;
    background-color: var(--secondary-color);
    padding: 1em 3em;

    h1 {
        font-family: $primary-font;
        font-size: 1.5rem;
    }
}
