header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: azure;
    padding: 1em 3em;

    h1 {
        font-family: "Prosto One", cursive;
        font-size: 1.5rem;
    }
}
