@import "./scss/variables.scss";
@import "./scss/mixins.scss";

:root {
    --primary-color: #{$primary-color};
    --secondary-color: #{$secondary-color};
    --text-color: #{$text-color};
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $secondary-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--text-color);
    min-height: 40px;
}

button {
    border: none;
    min-height: 40px;
    padding: 1rem 1.2rem 1rem 1rem;
    font-family: $secondary-font;
    @include flexbox(flex, center, center);
    gap: 0.5rem;
    color: var(--text-color);
}

input[type="text"],
input[type="text"]:focus {
    border: none;
    padding: 1rem;
    font-family: $secondary-font;
    color: $secondary-color;
    background-color: rgba(240, 255, 255, 0.13);
}

::placeholder {
    color: $secondary-color;
}

label {
    display: block;
    text-align: left;
}
